.template-body
    .row
        h1.pageHeadings Tools Overview Report
    .row
        table.table-bordered.report-table
            tr
                th.report-center Asset Number
                th.report-center Serial Number
                th.report-center Category
                th.report-center Status
                th.report-center Manufacturer
                th.report-center Model
                th.report-center Purchase Date
                th.report-center Purchase Price
            each tools
                tr
                    td
                        p.tableTitles #{assetNumber}
                    td
                        p.tableTitles #{serialNumber}
                    td
                        p.tableTitles #{toolCategory category}
                    td
                        p.tableTitles #{status}
                    td
                        p.tableTitles #{manufacturer}
                    td
                        p.tableTitles #{model}
                    td
                        p.tableTitles #{purchaseDate}
                    td
                        p.currency R
                        p.amount #{showCostValue costPrice}
            tr
                td
                    b
                        p.report-center Totals
                td
                    b
                        p.report-center #{toolCount} Tools
                td
                    p.report-center -
                td
                    p.report-center -
                td
                    p.report-center -
                td
                    p.report-center -
                td
                    p.report-center -
                td
                    b
                        p.currency R
                    b
                        p.amount #{showValue toolCost}

        .row
            a.detailIcons.backButton(href='{{pathFor "reports"}}')
                i.fa.fa-arrow-left(data-toggle='tooltip' title='Back to Reports')
            a.detailIcons.positiveIcon(href='{{pathFor "tool_report_csv"}}')
                i.fa.fa-file-excel-o(data-toggle='tooltip' title='Convert to Excel')
            a.detailIcons.goodIcon(href='{{pathFor "toolReportPrint"}}')
                i.fa.fa-print(data-toggle='tooltip' title='Print')

script.
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });