.template-body
   .row
      h1.pageHeadings Cellphone Details
   .row
      .detail-div
         table.table-bordered
            tbody
               tr
                  th.col-md-12.centered Main Information
         table.table-bordered
            tbody
               tr
                  th Asset Number
                  th Cellphone Number
                  th User
                  th Status
                  th Location
               tr
                  td.col-md-2.td-words #{assetNumber}
                  td.col-md-2.td-words #{cellNumber number}
                  td.col-md-2.td-words #{user}
                  td.col-md-2.td-words #{status}
                  td.col-md-2.td-words #{location}
         table.table-bordered
            tbody
               tr
                  th.col-md-12.centered Financial Information
         table.table-bordered
            tbody
               tr
                  th.col-md-2 Invoice Number
                  th.col-md-2 Purchase Order
                  th.col-md-2 Purchase Date
                  th.col-md-2 Purchase Price
                  th.col-md-2 Depreciation Rate
                  th.col-md-2 Book Value
               tr
                  td.col-md-2.td-words #{invoiceNumber}
                  td.col-md-2.td-words #{purchaseOrderNumber}
                  td.col-md-2.td-words #{purchaseDate}
                  td.col-md-2.td-words R #{showValue costPrice}
                  td.col-md-2.td-words #{decDep}% p/a
                  td.col-md-2.td-words R #{showValue bookValue}
         table.table-bordered
            tbody
               tr
                  th.col-md-12.centered Cellphone Information
         table.table-bordered
            tbody
               tr
                  th.col-md-2 Supplier
                  th.col-md-2 Manufacturer
                  th.col-md-2 Model
                  th.col-md-2 SIM Number
                  th.col-md-2 PIN Number
                  th.col-md-2 PUK Number
               tr
                  td.col-md-2.td-words #{supplier}
                  td.col-md-2.td-words #{manufacturer}
                  td.col-md-2.td-words #{model}
                  td.col-md-2.td-words #{sim}
                  td.col-md-2.td-words #{pin}
                  td.col-md-2.td-words #{puk}
         table.table-bordered
            tbody
               tr
                  th.col-md-4 Warranty Expiration
                  th.col-md-4 Contract Start
                  th.col-md-4 Contract End
               tr
                  td.col-md-4.td-words #{warrantyExpiration}
                  if hasCont4act
                     td.col-md-4.td-words #{contractStart}
                  else
                     td.col-md-4.td-words No Contract
                  if hasCont4act
                     td.col-md-4.td-words #{contractEnd}
                  else
                     td.col-md-4.td-words No Contract

         table.table-bordered
            tbody
               tr
                  th.col-md-4 Description
                  td.col-md-8.td-words #{description}

   .row
      a.detailIcons.backButton(href='{{pathFor "cellphones"}}' data-toggle="tooltip" title="Back to Cellphones")
         i.fa.fa-arrow-left
      a.detailIcons.editIcon(href='{{pathFor "cellphone.edit"}}' data-toggle="tooltip" title="Update")
         i.fa.fa-pencil
      a.detailIcons.positiveIcon(href='{{pathFor "cellphone.monthly"}}' data-toggle="tooltip" title="Monthly")
         i.fa.fa-calendar

script.
   $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });